export(addTable)
export(dbHeadTable)
export(dbInfo)
export(gtTable)
export(mapIds)
export(overlap)
export(rungt)
export(runrgt)
export(toTable)
export(uniqueMirs)
export(uniqueTargets)
importClassesFrom(AnnotationDbi)
importMethodsFrom(AnnotationDbi,mget)
